/*************/
/* variables */
/*************/

:root {
    --todo-color: red;
    --done-color: green;
    --important-color: blue;
    --body-color: #1a1a1a;
    --body-background-color: #ffffff;
    --body-font-family: sans-serif;
    --navigation-background-color: white;
    --navigation-a-border-color: black;
}


/*************/
/* Layout    */
/*************/



.navigation {
    display: flex;
    justify-content: flex-start;
}


/*************/
/* Box       */
/*************/

body {
    margin: auto;
    padding: 1em;
    width: 70%;
}

code {
    box-shadow: 0 2px 2px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
}

.navigation a {
    padding: 0 1em;
    background-color: var(--navigation-background-color);
    border: 1px solid var(--navigation-a-border-color);
}


/*************/
/* Text      */
/*************/

body  {
    background-color: #ffffff;
    color: #1a1a1a;
    font-family: sans-serif;
    background-color: var(--body-background-color);
    color: var(--body-color);
    font-family: var(--body-font-family);
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}


/*************/
/* Links     */
/*************/

a, code, table {
    font-family: monospace;   
}

a[rel=prev]::after {
    content: " <";
}

a[rel=next]::before {
    content: "> ";
}

.navigation a {
    text-decoration: none;
}


/*************/
/* todo      */
/*************/

.todo::before {
    content: "TODO: ";
    font-weight: bold;
    color: var(--todo-color);
}

.todo {
    text-decoration: underline dotted var(--todo-color);
    -webkit-text-decoration: underline dotted var(--todo-color);
}

.done::before {
    content: "DONE: ";
    font-weight: bold;
    color: var(--done-color);
}

.done {
    text-decoration: underline var(--done-color);
    -webkit-text-decoration: underline var(--done-color);
}

.important::before {
    content: "IMPORTANT: ";
    font-weight: bold;
    color: var(--important-color);
}

.important {
    text-decoration: underline var(--important-color);
    -webkit-text-decoration: underline var(--important-color);
}

/*************/
/* Magit     */
/*************/

.magit-output {
    font-family: monospace;
}

.magit-output span {
    color: grey;
}
