/**********/
/* Layout */
/**********/

.navigation {
    display: flex;
    justify-content: flex-start;
}


/**********/
/* Box    */
/**********/

body {
    margin: 1em;
}

rt {
    box-shadow: 0 2px 2px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
}

.navigation a {
    padding: 0 1em;
    border: 1px solid black;
}

.important {
    border: 1px solid red;
}


/**********/
/* Text   */
/**********/

body  {
    background-color: #ffffff;
    color: #1a1a1a;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

a, code {
    font-family: monospace;   
}

a[rel=prev]::after {
    content: " <";
}

a[rel=next]::before {
    content: "> ";
}

.navigation a {
    text-decoration: none;
}

.todo::before {
    content: "TODO: ";
    font-weight: bold;
    color: red;
}

.done::before {
    content: "DONE: ";
    font-weight: bold;
    color: green;
}

.done {
    text-decoration: line-through;

}

.todo {
    text-decoration: underline dotted red;
    -webkit-text-decoration: underline dotted red;
}
