/*************/
/* variables */
/*************/

:root {
    --todo-color: red;
    --done-color: green;
    --important-color: blue;
}


/*************/
/* Layout    */
/*************/



.navigation {
    display: flex;
    justify-content: flex-start;
}


/*************/
/* Box       */
/*************/

body {
    margin: 1em;
}

code {
    box-shadow: 0 2px 2px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
}

.navigation a {
    padding: 0 1em;
    border: 1px solid black;
}


/*************/
/* Text      */
/*************/

body  {
    background-color: #ffffff;
    color: #1a1a1a;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

a, code {
    font-family: monospace;   
}

a[rel=prev]::after {
    content: " <";
}

a[rel=next]::before {
    content: "> ";
}

.navigation a {
    text-decoration: none;
}

.todo::before {
    content: "TODO: ";
    font-weight: bold;
    color: var(--todo-color);
}

.todo {
    text-decoration: underline dotted var(--todo-color);
    -webkit-text-decoration: underline dotted var(--todo-color);
}

.done::before {
    content: "DONE: ";
    font-weight: bold;
    color: var(--done-color);
}

.done {
    text-decoration: underline var(--done-color);
    -webkit-text-decoration: underline var(--done-color);
}

.important::before {
    content: "IMPORTANT: ";
    font-weight: bold;
    color: var(--important-color);
}

.important {
    text-decoration: underline var(--important-color);
    -webkit-text-decoration: underline var(--important-color);
}


